@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --pri-color: #262626;
    --sec-color: #2bff00;
    --font-color: #000000;
    --font-color2: #fff;
}

* {
    box-sizing: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--pri-color);
    font-family: 'Open Sans', 'sans-serif';

    text-align: center;
}

/* MENU DA PÁGINA */

header {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--sec-color);
}

#menu-opcoes{
    display: flex;
    height: 100%;
    width: 80%;
    margin-left: 10%;   
    align-items: center;
    justify-content: center;
}

#menu-cadastro{
    display: flex;
    height: 50px;
    width: 10%;
    align-items: center;
    justify-content: center;
}


.menu-elementos {
    background-color: var(--sec-color);
    color: var(--font-color);
    text-decoration: none;
    padding: 5px;
    width: 100px;
}

.menu-elementos:hover {
    color: var(--font-color2);
}

/* CONTEÚDO DA PÁGINA */

.container {
    max-width: 400px;
    margin: 120px auto;
    padding: 40px;
    background-color: var(--sec-color);
    color: var(--font-color);
    border-radius: 25px;
}

.formulario-label{
    display: block;
    margin-top: 10px;
    font-size: 20px;
}

.formulario-campo {
    display: block;
    width: 90%;
    height: 30px;
    padding: 0 10px;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    background-color: var(--pri-color);
    color: var(--font-color2);
    font-size: 20px;
}

.formulario-campo:focus {
    outline: 2px solid var(--font-color2);
    border-radius: 10px;
}

.formulario-campo:hover {
    background-color: var(--font-color);
}

#formulario-botao {
    display: block;
    width: 90%;
    height: 45px;
    margin: 30px auto 0px auto;
    padding: 0 10px;
    background-color: var(--pri-color);
    color: var(--font-color2);
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

img {
    height: 250px;
}